<% provide :title, t(:home) %>
<div class="row">
  <div class="col-lg-5 col-lg-push-7">
    <div class="panel panel-default">
      <div class="panel-heading dn-panel-head">
        <h4><%= t :notification %></h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <%= render "shared/img_background" %>
</div>
