<li class="well">
  <%= notification_content notification %>
  <%= link_to t("request.name"), requests_path %>
  <span class="timestamp">
    <%= time_ago_in_words notification.created_at %> <%= t :ago %>.
  </span>
</li>
