<% provide :title, t(:all_users) %>
<div class="row">
  <div class="col-lg-5 col-lg-push-7">
    <div class="panel panel-default">
      <div class="panel-heading dn-panel-head">
        <h4><%= t :allusers %></h4>
      </div>
      <div class="panel-body">
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= paginate @users %>
      </div>
    </div>
  </div>
  <%= render "shared/img_background" %>
</div>
