@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "datepicker";

/* universal */

body {
  background-color: #5CA0A1;
}

.dn-front-content{
  margin-top: 50px;
  min-height: 562px!important;
  padding-top: 50px;
}
 
li{
  list-style: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #464646;
  font-weight: bold;
  cursor: pointer;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  img {
    margin: 1px 1px;
    height: 30px;
    width: 30px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.dn-panel-head{
  background-color: #e5e5e5!important;
}

.panel {
  border-radius: 2px;
  border: 0;
}

.dn-field{
  margin-top: 8px;
}

.dn-field .form-control{
  border-radius: 2px;
}

.dn-submit-login{
  display: block;
  margin: 0 auto;
  background-color: #5CA0A1;
  border-color: #5CA0A1;
  padding: 10px 25px;
}

.dn-login-sns{
  padding-top: 0px;
}

h2.dn-login-strike{
  position: relative;
  text-align: center;
  color: #a8a8a8;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  z-index: 1;
  span{
    background: #fff;
    padding: 0 10px;
  }
}

h2.dn-login-strike:before{
  border-top: solid 1px #d8d8d8;
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  z-index: -1;
}

.dn-fb{
  background: #4d6498;
  color: #fff;
  border-radius: 50%;
  font-size: 26px;
  line-height: 56px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 35%;
}

.dn-twitter{
  background: #42b1d5;
  color: #fff;
  border-radius: 50%;
  font-size: 26px;
  line-height: 56px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 3%;
}

.dn-logo-text{
  font-size: 10px;
  line-height: 0.7em;
  margin-left: 30px;
  text-transform: none;
  letter-spacing: 1px;
  color: #464646;
}

.dn-front-header{
  background-color: #fff;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #464646;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #464646;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
  background-color: #fff;
  color: #464646;
}

.dn-inline{
  display: inline-block;
}

.dn-request-search-create{
  margin-left: 20px;
}

.dn-date-range{
  width: 50%!important;
}

.dn-search-request-type{
  margin-top: 20px;
  select{
    height: 30px;
    width: 36%!important;
  }
}

.dn-request-action{
  margin-left: 10px;
  input{
   margin-top: 20px;
  }
}

.dn-select-request-type{
  height: 30px;
  margin-top: 20px;
  margin-left: 23%;
  width: 36.5%!important;
}

.dn-sign-sns{
  margin-top: -17px;
}

.dn-font-group{
  font-size: 16px !important;
  background-color: #eaeaea;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
}
.dn-text-wrap{
  word-wrap: break-word;
}

.dn-text-reason{
  width: 150px;
}

.dn-text-email{
  width: 100px;
}

.dn-text-leave{
  width: 50px;
}

.dn-btn-add-member{
  background-color: #E91E63!important;
  border-color: #E91E63!important;
  margin-left: 50px;
}

.dn-tab-avatar{
  padding-left: 50px!important;
}

.dn-form-request{
  label{
    display: none;
  }
}

.dn-ducoc li{
  padding-bottom: 7px;
}
.dn-ducoc li:hover{
  background-color: #5CA0A1;
}
