<% provide :title, t("reports.all") %>
<h1 class="text-center"><%= t "reports.all" %></h1>
<div class="panel-body">
  <%= link_to t("reports.new"), new_report_path, class: "btn btn-primary" %>
  <div>
    <%= render "all_reports" %>
  </div>
  <%= paginate @reports %>
</div>
